# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/

# Cache
.cache/

# Datasets
FINAL_PPE_DATASET/
construction-ppe/
PPE_Dataset/
PPE_Tiny/
PPE_Tiny_3Class/
PPE_Tiny_Test_sub/

# Models
*.pt
*.onnx

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Archives
*.zip

# YOLO training outputs
runs/
